{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
- Error
{% endblock title %}

{% block body%}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="card border-warning mt-5  text-white">
                <div class="card-header bg-warning">
                    <div class="card-title h5">

                        ERROR 404!
                    </div>
                </div>
                <div class="card-body bg-secondary">
                    El elemento que busca no se encuentra o no existe.

                </div>
                <div class="card-footer bg-secondary d-flex justify-content-end">
                    <button class="btn btn-dark btn-lg" type="button" id="boton-volver">Volver</button>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock body%}

{% block customJS %}
<script>
    // Agrega un evento click al botón "Volver" utilizando jQuery
	$("#boton-volver").on("click", function () {
		history.back();
	});
</script>
{% endblock customJS %}